input[type='checkbox'] {
    background-color: darkgrey;
}

.toDoItemContainer {
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 3px;
    padding: 3px;
    background-color: #eaeaea;
    margin-bottom: 3px;
    position: relative;
    display: flex;
    align-items: center;
}

.toDoItemContainer > button {
    position: absolute;
    align-self: center;
    right: 10px;
    height: 80%;
}

.todoItemComplete {
    background-color: #61bb4f;
    color: white;
}

/*bad, don't judge*/
.todoItemComplete > label > span {
    text-decoration: line-through;
}

.todoItem {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.todoItem > span {
    padding: 0.5rem 0.25rem;
}

.todoItem > input {
    align-self: center;

    height: 25px;
    width: 25px;

    appearance: none;

    border: 1px solid #34495e;
    border-radius: 4px;

    outline: none;
    transition-duration: 0.3s;
    background-color: #ffffff;
    cursor: pointer;
}

.todoItem > input:checked {
    border: 1px solid #2b6b4a;
    background-color: #41b883;
}

.todoItem > input:checked + span::before {
    content: '\2713';
    display: block;
    text-align: center;
    color: white;

    align-self: center;
    position: absolute;
    left: 0.7rem;
}

.addTodo {
    margin-left: 10px;
}

.addTodo > input {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
}
